*{
   margin: 0;
   padding: 0;
}
   
@media screen and (max-width:768px) {
    
   .button-size{
        font-size: 14px;
   }
}

.btn-bg{
   border:none;
   background:transparent;
   cursor: pointer;
   padding: 2px 3px;
}

.btn-col{
   color: #f14d54;
}